@import "tailwindcss";

.shadow-retro {
    box-shadow:
        inset -1px -1px 0 #000000,
        inset 1px 1px 0 #dfdfdf,
        1px 1px 0 #000000;
}

#table th {
    @apply bg-gray-300 font-bold p-1 border border-gray-600;
}

#table td {
    @apply p-1 border border-gray-400;
}

#table tbody tr:nth-child(even) {
    @apply bg-gray-100;
}
